@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:400,600,700&display=swap");
* {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background: #fafafa; }

article[data-emergence="hidden"] {
  opacity: 0;
  margin-top: 20px;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out; }

article[data-emergence="visible"] {
  opacity: 1;
  margin-top: 0; }

nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100vw;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(69, 93, 199, 0.18); }
  nav .reading-progress {
    top: 0;
    left: 0;
    position: absolute;
    background: #333333;
    height: 4px;
    border-radius: 0px 0px 99px 0px;
    box-shadow: 0px 0px 17px rgba(69, 93, 199, 0.25); }
  nav .d-flex {
    height: 80px; }
  nav .logo .img {
    min-width: 150px;
    max-width: 200px; }
  nav #newsletterbtn {
    background: #4ab716;
    box-shadow: 0px 0px 20px rgba(85, 217, 187, 0.25);
    border-radius: 10px;
    -webkit-appearance: none;
    border: 0px;
    font-family: "Nunito", sans-serif;
    padding: 15px 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff; }
    nav #newsletterbtn:hover {
      background: #41a013;
      cursor: pointer; }
  nav .menu {
    margin: 0;
    padding: 0; }
    nav .menu li {
      float: left;
      list-style: none; }
      nav .menu li a {
        padding: 0px 5px;
        margin: 0px 5px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        font-family: "Nunito", sans-serif;
        color: #333333;
        position: relative; }
        nav .menu li a:after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0px;
          width: 100%;
          height: 0px;
          border-radius: 99px;
          background: #efefef;
          -webkit-transition: all 0.1s ease-in-out;
          -moz-transition: all 0.1s ease-in-out;
          -o-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out; }
        nav .menu li a:hover {
          color: #4d23c1;
          text-decoration: none; }
        nav .menu li a:hover:after {
          height: 4px; }
  nav .search .search-button {
    background: rgba(250, 250, 250, 0);
    border-radius: 99px;
    padding: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center; }
    nav .search .search-button:hover {
      background: #efefef; }
      nav .search .search-button:hover svg circle {
        stroke: #4d23c1; }
      nav .search .search-button:hover svg line {
        stroke: #4d23c1; }

#hp {
  padding: 80px 0px; }

#counter {
  padding: 30px 0px; }
  #counter .count .counters {
    text-align: center;
    padding: 22px 54px;
    margin: 1px;
    flex: 33.3333%;
    border-right: 1px solid rgba(169, 172, 190, 0.25); }
    #counter .count .counters:last-child {
      border-right: none; }
    #counter .count .counters .countnumber {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 2em;
      color: #333333; }
      #counter .count .counters .countnumber:after {
        content: "+"; }
    #counter .count .counters span {
      display: block;
      font-size: 1.1em; }

#posts article {
  padding: 15px 0px; }
  #posts article .post--date {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #a9acbe;
    opacity: 0.9;
    white-space: nowrap; }
  #posts article .the--post {
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(69, 93, 199, 0.05);
    border-radius: 7px;
    padding: 30px;
    min-height: 264px; }
  #posts article .post--info {
    padding-right: 15px; }
    #posts article .post--info h2 {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: #333333; }
    #posts article .post--info p {
      font-family: "Muli", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 32px;
      color: #828282; }
  #posts article .post--image {
    height: 100%;
    align-items: center;
    margin-left: 30px; }
    #posts article .post--image .the-post--image {
      width: 258px;
      height: 174px;
      border-radius: 4px;
      background-size: cover;
      background-position: center center; }

#pagination {
  padding: 20px 0px; }
  #pagination .page-numbers {
    background: #ffffff;
    border-radius: 5px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    color: #a9acbe;
    margin: 0px 10px; }
    #pagination .page-numbers:hover {
      background: #333333;
      color: #ffffff;
      text-decoration: none; }
  #pagination .current {
    background: #333333;
    border-radius: 5px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff; }
  #pagination .next,
  #pagination .prev {
    background: none; }
    #pagination .next:hover path,
    #pagination .prev:hover path {
      fill: #ffffff; }
    #pagination .next span,
    #pagination .prev span {
      height: 29px;
      width: 11px; }

#newsletter {
  margin: 0px 0px 40px 0px; }
  #newsletter .news-block {
    padding: 80px 60px;
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(69, 93, 199, 0.05);
    border-radius: 10px; }
    #newsletter .news-block h2 {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 38px;
      line-height: 52px;
      color: #333333; }
    #newsletter .news-block h4 {
      font-family: "Muli", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #bdbdbd; }
    #newsletter .news-block .signup--form form {
      width: 100%; }
      #newsletter .news-block .signup--form form #mc_embed_signup_scroll {
        display: flex;
        width: 100%; }
      #newsletter .news-block .signup--form form .mc-field-group {
        width: 100%;
        margin-right: -20px; }
      #newsletter .news-block .signup--form form input {
        height: 46px;
        background: #ffffff;
        border: 1px solid #f5f4f7;
        box-sizing: border-box;
        box-shadow: 0px 0px 25px rgba(69, 93, 199, 0.05);
        border-radius: 10px;
        width: 100%;
        padding: 0px 20px; }
      #newsletter .news-block .signup--form form input[type="submit"] {
        background: #4ab716;
        font-family: "Nunito", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #ffffff;
        padding: 0px 48px;
        border: none; }

#promoters h3 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #333333; }
#promoters .the--promotors {
  text-align: center; }
  #promoters .the--promotors .item {
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center; }
  #promoters .the--promotors .slick-slide img {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto; }
  #promoters .the--promotors .slick-dots {
    display: inline-block;
    margin: 20px 0px;
    padding: 0px; }
    #promoters .the--promotors .slick-dots .slick-active {
      border: none; }
    #promoters .the--promotors .slick-dots .slick-active button {
      background: #4d23c1; }
  #promoters .the--promotors .slick-dots li {
    float: left;
    list-style: none;
    margin: 0 2.5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    overflow: hidden;
    border: 0.5px solid #a9acbe; }
  #promoters .the--promotors .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none; }

#menu-socket {
  margin: 0;
  padding: 30px 0px 15px;
  display: flex;
  align-items: center; }
  #menu-socket li {
    line-height: 16px;
    list-style: none;
    float: left;
    padding: 0px 30px;
    margin-left: 1px;
    border-right: 1px solid #333333; }
    #menu-socket li:last-child {
      border-right: none; }
    #menu-socket li a {
      font-family: "Nunito", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #333333; }

#socials {
  padding: 40px 0px; }
  #socials .socials {
    padding: 0;
    margin: 0px; }
    #socials .socials li {
      float: left;
      list-style: none;
      padding: 0px 15px; }

.tabs-nav {
  position: fixed;
  right: 32px;
  margin: 0px;
  padding: 0px;
  top: 70px;
  z-index: 6;
  transform: rotate(-90deg);
  transform-origin: right; }
  .tabs-nav li {
    float: left;
    list-style: none;
    font-family: "Muli", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #333333;
    padding: 22px 15px;
    border-radius: 4px 4px 0px 0px; }
    .tabs-nav li a {
      color: #333333; }
  .tabs-nav .current-menu-item {
    background: #4d23c1;
    box-shadow: 0px 0px 25px rgba(76, 35, 193, 0.25);
    border-radius: 8px 8px 0px 0px; }
    .tabs-nav .current-menu-item a {
      color: #ffffff; }

.overlay-item {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #333333;
  z-index: 5;
  top: 0px;
  left: 0px;
  color: #ffffff;
  display: none; }

.active {
  display: block; }

.adv .the--adv {
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(69, 93, 199, 0.05);
  border-radius: 7px;
  padding: 15px 20px;
  flex-wrap: wrap;
  overflow: hidden; }
  .adv .the--adv .adv--info {
    color: #4f4f4f;
    opacity: 0.25;
    padding-bottom: 15px;
    border-bottom: 1px solid #4f4f4f;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px; }
    .adv .the--adv .adv--info svg {
      margin-left: 12px; }
  .adv .the--adv .the-post--image {
    min-height: 365px;
    width: 60%;
    margin: 0px 15px -15px -35px;
    position: relative;
    background-size: cover; }
    .adv .the--adv .the-post--image svg {
      position: absolute;
      right: 0px;
      top: 0px;
      height: 100%;
      width: auto; }
  .adv .the--adv .the-post--ad {
    width: 40%; }
    .adv .the--adv .the-post--ad h2 {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: #333333; }
    .adv .the--adv .the-post--ad p {
      font-family: "Muli", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 32px;
      color: #828282; }
    .adv .the--adv .the-post--ad .btn {
      background: #4ab716;
      box-shadow: 0 0 20px rgba(85, 217, 187, 0.25);
      border-radius: 10px;
      -webkit-appearance: none;
      border: 0;
      font-family: "Nunito", sans-serif;
      padding: 15px 20px;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #fff; }

.vac .the--vac {
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(69, 93, 199, 0.05);
  border-radius: 7px;
  padding: 15px 20px;
  flex-wrap: wrap;
  overflow: hidden; }
  .vac .the--vac .vac--info {
    color: #4f4f4f;
    opacity: 0.25;
    padding-bottom: 15px;
    border-bottom: 1px solid #4f4f4f;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px; }
    .vac .the--vac .vac--info svg {
      margin-left: 12px; }
  .vac .the--vac .the-post--vac {
    width: 80%;
    padding: 15px 10px 20px; }
    .vac .the--vac .the-post--vac h2 {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: #333333; }
    .vac .the--vac .the-post--vac p {
      font-family: "Muli", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 32px;
      color: #828282; }
  .vac .the--vac .btn {
    border: 1px solid #4ab716;
    border-radius: 10px;
    -webkit-appearance: none;
    font-family: "Nunito", sans-serif;
    padding: 15px 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #4ab716; }
    .vac .the--vac .btn:hover {
      background: #4ab716;
      color: #ffffff; }
  .vac .the--vac .logo {
    background: #fff;
    width: 62px;
    height: 62px;
    border-radius: 100%;
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 0 25px rgba(69, 93, 199, 0.05); }

.edu .the--edu {
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(69, 93, 199, 0.05);
  border-radius: 7px;
  padding: 15px 20px;
  flex-wrap: wrap;
  overflow: hidden; }
  .edu .the--edu .edu--info {
    color: #4f4f4f;
    opacity: 0.25;
    padding-bottom: 15px;
    border-bottom: 1px solid #4f4f4f;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px; }
    .edu .the--edu .edu--info svg {
      margin-left: 12px; }
  .edu .the--edu .the-post--edu {
    width: 80%;
    padding: 15px 10px 20px; }
    .edu .the--edu .the-post--edu h2 {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: #333333; }
    .edu .the--edu .the-post--edu p {
      font-family: "Muli", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 32px;
      color: #828282; }
  .edu .the--edu .btn {
    border: 1px solid #4ab716;
    border-radius: 10px;
    -webkit-appearance: none;
    font-family: "Nunito", sans-serif;
    padding: 15px 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #4ab716; }
    .edu .the--edu .btn:hover {
      background: #4ab716;
      color: #ffffff; }
  .edu .the--edu .logo {
    background: #fff;
    width: 62px;
    height: 62px;
    border-radius: 100%;
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 0 25px rgba(69, 93, 199, 0.05); }

.wrapper {
  margin: 30px;
  padding: 30px;
  background: #fff;
  width: 360px;
  height: 640px;
  display: flex;
  flex-direction: column; }

.wrapper-cell {
  display: flex;
  margin-bottom: 30px;
  position: absolute;
  width: calc(100% - 30px);
  right: 15px;
  left: 15px; }

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }
.animated-background, .image, .text-line {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f6f6;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative; }

.image {
  min-width: 258px;
  height: 174px;
  right: 15px;
  margin-left: 30px; }

.text {
  margin-left: 0;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px; }

.text-line {
  height: 20px;
  width: 100%;
  margin-bottom: 20px; }

.text-line:last-child {
  width: 10vw; }

.post-inner {
  opacity: 0;
  display: none; }

.submitted--info {
  color: #4f4f4f;
  border-bottom: 1px solid #4f4f4f;
  opacity: 0.25;
  margin-left: -30px;
  width: calc(100% + 60px);
  margin-top: -15px;
  padding-bottom: 15px;
  margin-bottom: 30px; }

.the--post[data-emergence="visible"] .post-inner {
  display: block; }

.animated-in, .the--post[data-emergence="visible"] .post-inner {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: forwards;
  animation-name: in;
  animation-timing-function: linear; }

.animated-out, .the--post[data-emergence="visible"] .wrapper-cell {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: forwards;
  animation-name: out;
  animation-timing-function: linear; }

@keyframes in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
#vacancy-overview {
  background: #333333;
  padding-top: 140px;
  margin-bottom: -150px;
  padding-bottom: calc(80px + 150px); }
  #vacancy-overview .vacancy-intro h2,
  #vacancy-overview .vacancy-intro p {
    color: #ffffff; }
  #vacancy-overview .vacancy-intro h2 {
    font-weight: bold; }
  #vacancy-overview .vacancy-intro p {
    opacity: 0.8; }
  #vacancy-overview .vacansie-item {
    padding: 20px;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(69, 93, 199, 0.05);
    border-radius: 10px; }
    #vacancy-overview .vacansie-item h4 {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: #333333; }
      #vacancy-overview .vacansie-item h4 a {
        color: #333333; }

#vacancy-detail {
  padding-top: 140px;
  margin-bottom: -150px;
  padding-bottom: calc(80px + 150px); }
  #vacancy-detail h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: #333333; }
  #vacancy-detail .description-vacansie p {
    font-family: "Muli", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #545a63; }
  #vacancy-detail #profile {
    padding: 80px 0px; }
  #vacancy-detail .description-vacansie {
    padding-bottom: 60px; }
  #vacancy-detail .btn {
    background: #4ab716;
    box-shadow: 0px 0px 20px rgba(85, 217, 187, 0.25);
    border-radius: 10px;
    -webkit-appearance: none;
    border: 0px;
    font-family: "Nunito", sans-serif;
    padding: 15px 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    margin-top: 15px; }
    #vacancy-detail .btn:hover {
      background: #41a013;
      cursor: pointer; }
  #vacancy-detail .vacancy-profile .inner {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 25px rgba(69, 93, 199, 0.05); }
  #vacancy-detail .vacancy-contact .inner {
    background: #4d23c0;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 25px rgba(69, 93, 199, 0.05); }
    #vacancy-detail .vacancy-contact .inner p,
    #vacancy-detail .vacancy-contact .inner a,
    #vacancy-detail .vacancy-contact .inner h2,
    #vacancy-detail .vacancy-contact .inner span {
      color: #ffffff; }
    #vacancy-detail .vacancy-contact .inner p,
    #vacancy-detail .vacancy-contact .inner span,
    #vacancy-detail .vacancy-contact .inner h2 {
      display: block; }

p.description + [data-readmore-toggle],
p.description[data-readmore] {
  color: #4ab716; }

.vacansie_form label {
  padding-left: 0px;
  width: 100%;
  display: block;
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #545a63; }
.vacansie_form input,
.vacansie_form textarea {
  overflow: visible;
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 12px; }
  .vacansie_form input :focus,
  .vacansie_form textarea :focus {
    box-shadow: 0 0 25px rgba(69, 93, 199, 0.05);
    outline: 0 !important; }

#place-post {
  padding-bottom: 80px;
  padding-top: 140px; }
  #place-post p {
    font-family: "Muli", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #545a63; }
  #place-post h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: #333333; }
  #place-post form {
    padding: 0px; }
    #place-post form label {
      padding-left: 0px !important;
      width: 100% !important;
      display: block !important;
      font-family: "Muli", sans-serif !important;
      font-style: normal;
      font-weight: 600;
      font-size: 18px !important;
      line-height: 32px;
      color: #545a63; }
    #place-post form input,
    #place-post form textarea {
      overflow: visible;
      width: 100% !important;
      border: 1px solid #eaeaea;
      border-radius: 10px;
      padding: 12px; }
      #place-post form input :focus,
      #place-post form textarea :focus {
        box-shadow: 0 0 25px rgba(69, 93, 199, 0.05);
        outline: 0 !important; }
    #place-post form .usp-submit {
      background: #4ab716;
      box-shadow: 0px 0px 20px rgba(85, 217, 187, 0.25);
      border-radius: 10px;
      -webkit-appearance: none;
      border: 0px;
      font-family: "Nunito", sans-serif;
      padding: 15px 20px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
      margin-top: 15px;
      width: inherit !important; }
      #place-post form .usp-submit:hover {
        background: #41a013;
        cursor: pointer; }

.xl {
  display: none; }

.mobile-nav {
  display: none; }

@media screen and (max-width: 767px) {
  #counter {
    display: none; }

  #posts article .post--date {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #a9acbe;
    opacity: 0.5;
    margin-bottom: 10px;
    display: inline-block;
    text-transform: capitalize; }

  #posts article .post--image .the-post--image {
    width: 120px;
    height: 130px;
    border-radius: 4px;
    background-size: cover;
    background-position: center center; }

  #newsletter .container {
    max-width: 100vw; }
    #newsletter .container .col-md-12 {
      padding: 0px; }
      #newsletter .container .col-md-12 .news-block {
        border-radius: 0px; }

  #posts article .the--post {
    border-radius: 0;
    padding: 30px 15px; }

  article .container {
    max-width: 100vw; }
    article .container .col-md-12 {
      padding: 0px; }
      article .container .col-md-12 .news-block {
        border-radius: 0px; }

  nav .container {
    max-width: 100vw;
    padding: 0px 5px 0px 15px; }

  .vac .the--vac,
  .edu .the--edu,
  .adv .the--adv {
    border-radius: 0px; }

  .mx {
    display: none; }

  .xl {
    display: block; }

  .p-2 {
    padding: 0px; }

  .ma {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 70px;
    justify-content: center;
    border-left: 1px solid rgba(0, 0, 0, 0.1); }

  .hamburger {
    width: 24px;
    height: 18px;
    margin-top: -10px;
    cursor: pointer; }
    .hamburger div {
      background: #333333;
      width: 100%;
      height: 4px;
      margin: 4px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }

  .tabs-nav {
    display: none; }

  .mobile-nav {
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background: white;
    z-index: 8;
    padding: 100px 0px; }
    .mobile-nav .container {
      max-width: 100vw;
      padding: 15px; }
    .mobile-nav ul {
      margin: 0;
      padding: 0; }
      .mobile-nav ul li {
        list-style: none; }
        .mobile-nav ul li a {
          padding: 30px 0px;
          border-bottom: 1px solid #ebebeb;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
          color: #333333;
          display: block;
          width: 100%;
          text-transform: capitalize; }

  .branding {
    padding: 0px !important; }

  .first {
    transform: rotate(45deg);
    transform-origin: left; }

  .middle {
    width: 0px !important;
    transform: rotate(-45deg);
    margin-left: 50px; }

  .last {
    transform: rotate(-45deg);
    transform-origin: left;
    margin-top: 1px; }

  #posts article .post--info h2 {
    font-size: 18px; }

  .vac-col {
    margin-bottom: 30px; }

  #newsletter .news-block {
    padding: 30px 15px; }

  .vacancy-profile {
    margin-bottom: 30px; }

  .the--adv .d-flex {
    display: block !important; }

  .adv .the--adv .the-post--image {
    min-height: 365px;
    width: calc(100% + 40px);
    left: -20px;
    margin: 0px;
    position: relative;
    background-size: cover; }

  .adv .the--adv .the-post--image svg {
    transform: rotate(90deg) translate(50%, -22%);
    height: 153%;
    left: 0; }

  .adv .the--adv .the-post--ad {
    width: 100%;
    padding: 30px 0px; } }

/*# sourceMappingURL=style.css.map */
