@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:400,600,700&display=swap");
* {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background: #fafafa; }

ul {
  margin-top: 15px; }
  ul li {
    font-family: "Muli", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #545a63; }

article[data-emergence="hidden"] {
  opacity: 0;
  margin-top: 20px;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out; }

article[data-emergence="visible"] {
  opacity: 1;
  margin-top: 0; }

nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 12;
  width: 100vw;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(69, 93, 199, 0.18); }
  nav .search {
    display: flex;
    align-items: center; }
    nav .search form {
      width: 400px;
      display: flex;
      display: none; }
      nav .search form input {
        border: none;
        width: 100%; }
  nav .hmd {
    display: flex;
    justify-content: center; }
    nav .hmd .hamb {
      width: 24px;
      height: 30px;
      cursor: pointer; }
      nav .hmd .hamb div {
        background: #333333;
        width: 100%;
        height: 2px;
        margin: 6px 0px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
  nav .reading-progress {
    top: 0;
    left: 0;
    position: absolute;
    background: #333333;
    height: 4px;
    border-radius: 0px 0px 99px 0px;
    box-shadow: 0px 0px 17px rgba(69, 93, 199, 0.25); }
  nav .d-flex {
    height: 80px; }
  nav .branding a img {
    max-width: 180px; }
  nav .menu {
    margin: 0;
    padding: 0; }
    nav .menu li {
      float: left;
      list-style: none; }
      nav .menu li a {
        padding: 0px 5px;
        margin: 0px 5px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        font-family: "Nunito", sans-serif;
        color: #333333;
        position: relative; }
        nav .menu li a:after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0px;
          width: 100%;
          height: 0px;
          border-radius: 99px;
          background: #efefef;
          -webkit-transition: all 0.1s ease-in-out;
          -moz-transition: all 0.1s ease-in-out;
          -o-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out; }
        nav .menu li a:hover {
          color: #403f92;
          text-decoration: none; }
        nav .menu li a:hover:after {
          height: 4px; }
  nav .search .search-button {
    background: rgba(250, 250, 250, 0);
    border-radius: 99px;
    padding: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center; }
    nav .search .search-button:hover {
      background: #efefef; }
      nav .search .search-button:hover svg circle {
        stroke: #403f92; }
      nav .search .search-button:hover svg line {
        stroke: #403f92; }
  nav .nav-btn {
    background: #33ab38;
    box-shadow: 0px 0px 20px rgba(85, 217, 187, 0.25);
    border-radius: 10px;
    -webkit-appearance: none;
    border: 0px;
    padding: 5px;
    color: #ffffff !important; }
    nav .nav-btn:hover {
      background: #2d9732;
      cursor: pointer; }
    nav .nav-btn a {
      color: white !important; }
      nav .nav-btn a:hover:after {
        display: none; }

.sd--menu {
  height: 100vh;
  background: #403f92;
  position: fixed;
  right: 0;
  display: none;
  z-index: 11;
  box-shadow: -20px 0px 25px rgba(69, 93, 199, 0.18);
  overflow: hidden; }
  .sd--menu .sd--menu-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 80px;
    height: 100vh;
    width: 350px; }
  .sd--menu div ul {
    margin: 0;
    padding: 0; }
    .sd--menu div ul li {
      list-style: none;
      padding: 10px 0px;
      margin: 0; }
      .sd--menu div ul li a {
        color: #ffffff;
        font-family: "Nunito", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px; }
        .sd--menu div ul li a:hover {
          text-decoration: none; }
  .sd--menu .socials {
    margin: 20px -12px; }
    .sd--menu .socials li {
      float: left;
      margin: 0px 12px; }
      .sd--menu .socials li a path {
        fill: #ffffff; }

.is--active div:first-child,
.search-active .hamb div:first-child {
  transform: rotate(45deg);
  transform-origin: left; }
.is--active div:nth-child(2),
.search-active .hamb div:nth-child(2) {
  opacity: 0; }
.is--active div:last-child,
.search-active .hamb div:last-child {
  transform: rotate(-45deg);
  transform-origin: left; }

#hp {
  padding: 40px 0px; }

#counter {
  padding: 30px 0px; }
  #counter .count .counters {
    text-align: center;
    padding: 16px 54px;
    margin: 1px;
    flex: 33.3333%;
    border-right: 1px solid rgba(169, 172, 190, 0.25); }
    #counter .count .counters:last-child {
      border-right: none; }
    #counter .count .counters .countnumber {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 1.2em;
      color: #333333; }
      #counter .count .counters .countnumber:after {
        content: "+"; }
    #counter .count .counters span {
      display: block;
      font-size: 0.8em; }

#posts article {
  padding: 15px 0px; }
  #posts article .post--date {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #a9acbe;
    opacity: 0.9;
    white-space: nowrap;
    font-size: 24px;
    float: right; }
  #posts article .the--post {
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(69, 93, 199, 0.05);
    border-radius: 7px;
    padding: 30px;
    min-height: 264px; }
    #posts article .the--post:hover {
      box-shadow: 0px 0px 25px rgba(69, 93, 199, 0.099); }
  #posts article .the--post-single {
    padding: 15px; }
  #posts article .post--info {
    padding-right: 30px; }
    #posts article .post--info h2 {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: #403f92; }
    #posts article .post--info p {
      font-family: "Muli", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 32px;
      color: #828282; }
  #posts article .post--image {
    height: 100%;
    align-items: center; }
    #posts article .post--image .the-post--image {
      width: 258px;
      height: 174px;
      border-radius: 4px;
      background-size: cover;
      background-position: center center; }
  #posts article .post--image-single {
    width: inherit;
    margin-top: 0px;
    margin-bottom: 0px; }
    #posts article .post--image-single .the-post--image {
      width: 150px;
      height: 100px; }

#pagination {
  padding: 20px 0px; }
  #pagination .page-numbers {
    background: #ffffff;
    border-radius: 5px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    color: #a9acbe;
    margin: 0px 10px; }
    #pagination .page-numbers:hover {
      background: #333333;
      color: #ffffff;
      text-decoration: none; }
  #pagination .current {
    background: #333333;
    border-radius: 5px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff; }
  #pagination .next,
  #pagination .prev {
    background: none; }
    #pagination .next:hover path,
    #pagination .prev:hover path {
      fill: #ffffff; }
    #pagination .next span,
    #pagination .prev span {
      height: 29px;
      width: 11px; }

#newsletter {
  margin: 0px 0px 40px 0px; }
  #newsletter .news-block {
    padding: 80px 60px;
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(69, 93, 199, 0.05);
    border-radius: 10px; }
    #newsletter .news-block h2 {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 38px;
      line-height: 52px;
      color: #333333; }
    #newsletter .news-block h4 {
      font-family: "Muli", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #bdbdbd; }
    #newsletter .news-block .signup--form form {
      width: 100%; }
      #newsletter .news-block .signup--form form #mc_embed_signup_scroll {
        display: flex;
        width: 100%; }
      #newsletter .news-block .signup--form form .mc-field-group {
        width: 100%;
        margin-right: -20px; }
      #newsletter .news-block .signup--form form input {
        height: 46px !important;
        background: #fff;
        border: 1px solid #f5f4f7;
        box-sizing: border-box;
        box-shadow: 0 0 25px rgba(69, 93, 199, 0.05);
        border-radius: 10px !important;
        width: 100% !important;
        max-width: 100%;
        padding: 0 20px; }
      #newsletter .news-block .signup--form form input[type="submit"] {
        background: #33ab38;
        font-family: "Nunito", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #ffffff;
        padding: 0px 48px;
        border: none; }

#promoters h3 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #333333; }
#promoters .the--promotors {
  text-align: center; }
  #promoters .the--promotors .item {
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; }
    #promoters .the--promotors .item a {
      height: 100%; }
  #promoters .the--promotors .slick-slide img {
    display: block;
    margin: 0 auto;
    max-height: 32px;
    max-width: 100%;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.6;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    #promoters .the--promotors .slick-slide img:hover {
      -webkit-filter: grayscale(0%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);
      opacity: 1; }
  #promoters .the--promotors .slick-dots {
    display: inline-block;
    margin: 20px 0px;
    padding: 0px; }
    #promoters .the--promotors .slick-dots .slick-active {
      border: none; }
    #promoters .the--promotors .slick-dots .slick-active button {
      background: #403f92; }
  #promoters .the--promotors .slick-dots li {
    float: left;
    list-style: none;
    margin: 0 2.5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    overflow: hidden;
    border: 0.5px solid #a9acbe; }
  #promoters .the--promotors .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none; }

.av {
  max-width: 100%;
  padding-bottom: 40px;
  display: block; }

#menu-socket {
  margin: 0;
  padding: 30px 0px 15px;
  display: flex;
  align-items: center; }
  #menu-socket li {
    line-height: 16px;
    list-style: none;
    float: left;
    padding: 0px 30px;
    margin-left: 1px;
    border-right: 1px solid #333333; }
    #menu-socket li:last-child {
      border-right: none; }
    #menu-socket li a {
      font-family: "Nunito", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #333333; }

#socials {
  padding: 40px 0px; }
  #socials .socials {
    padding: 0;
    margin: 0px; }
    #socials .socials li {
      float: left;
      list-style: none;
      padding: 0px 15px; }

.tabs-nav {
  position: fixed;
  right: 32px;
  margin: 0px;
  padding: 0px;
  top: 80px;
  z-index: 6;
  transform: rotate(-90deg);
  transform-origin: right; }
  .tabs-nav li {
    float: left;
    list-style: none;
    font-family: "Muli", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #333333;
    margin: 0px 5px; }
    .tabs-nav li a {
      padding: 22px 15px;
      color: #333333;
      border-radius: 4px 4px 0px 0px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .tabs-nav li a:hover {
        background: #33ab38;
        box-shadow: 0px 0px 25px rgba(76, 35, 193, 0.25);
        border-radius: 8px 8px 0px 0px;
        color: #ffffff;
        text-decoration: none; }
  .tabs-nav .current-menu-item a {
    color: #ffffff;
    background: #403f92;
    box-shadow: 0px 0px 25px rgba(76, 35, 193, 0.25);
    border-radius: 8px 8px 0px 0px; }
  .tabs-nav .vac a {
    color: #ffffff;
    background: #403f92;
    box-shadow: 0px 0px 25px rgba(76, 35, 193, 0.25);
    border-radius: 8px 8px 0px 0px; }

.tab-archive li a {
  color: #ffffff; }

#shareBlock {
  margin-left: -5px;
  margin-top: 30px; }

.overlay-item {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #333333;
  z-index: 5;
  top: 0px;
  left: 0px;
  color: #ffffff;
  display: none; }

.active {
  display: block; }

.adv .the--adv {
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(69, 93, 199, 0.05);
  border-radius: 7px;
  padding: 15px 20px;
  flex-wrap: wrap;
  overflow: hidden; }
  .adv .the--adv .adv--info {
    color: #4f4f4f;
    opacity: 0.6;
    padding-bottom: 15px;
    border-bottom: 1px solid #4f4f4f;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px; }
    .adv .the--adv .adv--info svg {
      margin-left: 12px; }
  .adv .the--adv .the-post--image {
    min-height: 250px;
    width: 30%;
    margin: 0px 15px -15px -35px;
    position: relative;
    background-size: cover; }
    .adv .the--adv .the-post--image svg {
      position: absolute;
      right: 0px;
      top: 0px;
      height: 100%;
      width: auto; }
  .adv .the--adv .the-post--image-single {
    min-height: calc(100% + 30px);
    background-position: center center;
    margin-top: -15px; }
  .adv .the--adv .the-post--ad {
    width: 70%;
    padding: 15px 0px 15px 0px; }
    .adv .the--adv .the-post--ad h2 {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: #333333; }
    .adv .the--adv .the-post--ad p {
      font-family: "Muli", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 32px;
      color: #828282; }
    .adv .the--adv .the-post--ad .btn {
      background: #33ab38;
      box-shadow: 0 0 20px rgba(85, 217, 187, 0.25);
      border-radius: 10px;
      -webkit-appearance: none;
      border: 0;
      font-family: "Nunito", sans-serif;
      padding: 15px 20px;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #fff; }
  .adv .the--adv .the-post-ad-single p {
    font-size: 14px !important; }
  .adv .the--adv .the-post-ad-single h2 {
    font-size: 18px !important; }
  .adv .the--adv .the-post-ad-single .btn {
    font-size: 14px !important;
    padding: 10px 15px !important; }
.adv .the--adv-single {
  padding: 0px 15px 0px 0px !important; }

.vac .the--vac {
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(69, 93, 199, 0.05);
  border-radius: 7px;
  padding: 15px 20px;
  flex-wrap: wrap;
  overflow: hidden; }
  .vac .the--vac .vac--info {
    color: #4f4f4f;
    opacity: 0.25;
    padding-bottom: 15px;
    border-bottom: 1px solid #4f4f4f;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px; }
    .vac .the--vac .vac--info svg {
      margin-left: 12px; }
  .vac .the--vac .the-post--vac {
    width: 100%;
    padding: 15px 10px 20px; }
    .vac .the--vac .the-post--vac h2 {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: #333333; }
    .vac .the--vac .the-post--vac p {
      font-family: "Muli", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 32px;
      color: #828282; }
  .vac .the--vac .btn {
    border: 1px solid #33ab38;
    border-radius: 10px;
    -webkit-appearance: none;
    font-family: "Nunito", sans-serif;
    padding: 15px 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #33ab38; }
    .vac .the--vac .btn:hover {
      background: #33ab38;
      color: #ffffff; }
  .vac .the--vac .logo {
    background: #fff;
    width: 62px;
    height: 62px;
    border-radius: 100%;
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 0 25px rgba(69, 93, 199, 0.05); }

.edu .the--edu {
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(69, 93, 199, 0.05);
  border-radius: 7px;
  padding: 15px 20px;
  flex-wrap: wrap;
  overflow: hidden; }
  .edu .the--edu .edu--info {
    color: #4f4f4f;
    opacity: 0.25;
    padding-bottom: 15px;
    border-bottom: 1px solid #4f4f4f;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px; }
    .edu .the--edu .edu--info svg {
      margin-left: 12px; }
  .edu .the--edu .the-post--edu {
    width: 100%;
    padding: 15px 10px 20px; }
    .edu .the--edu .the-post--edu h2 {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: #333333; }
    .edu .the--edu .the-post--edu p {
      font-family: "Muli", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 32px;
      color: #828282; }
  .edu .the--edu .btn {
    border: 1px solid #33ab38;
    border-radius: 10px;
    -webkit-appearance: none;
    font-family: "Nunito", sans-serif;
    padding: 15px 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #33ab38; }
    .edu .the--edu .btn:hover {
      background: #33ab38;
      color: #ffffff; }
  .edu .the--edu .logo {
    background: #fff;
    width: 62px;
    height: 62px;
    border-radius: 100%;
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 0 25px rgba(69, 93, 199, 0.05); }

.wrapper {
  margin: 30px;
  padding: 30px;
  background: #fff;
  width: 360px;
  height: 640px;
  display: flex;
  flex-direction: column; }

.btn {
  border: 1px solid #33ab38;
  border-radius: 10px;
  -webkit-appearance: none;
  font-family: "Nunito", sans-serif;
  padding: 15px 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #33ab38; }
  .btn:hover {
    background: #33ab38;
    color: #ffffff; }

.wrapper-cell {
  display: flex;
  margin-bottom: 30px;
  position: absolute;
  width: calc(100% - 30px);
  right: 15px;
  left: 15px; }

.recommend .wrapper-cell {
  position: absolute !important; }
  .recommend .wrapper-cell .image {
    height: 100px;
    width: 150px;
    min-width: 150px; }
.recommend article .the--post {
  min-height: inherit !important; }
  .recommend article .the--post p {
    margin-bottom: 0px !important; }

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }
.animated-background, .image, .text-line {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f6f6;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative; }

.image {
  min-width: 258px;
  height: 174px;
  right: 15px;
  margin-left: 30px; }

.text {
  margin-left: 0;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px; }

.text-line {
  height: 20px;
  width: 100%;
  margin-bottom: 20px; }

.text-line:last-child {
  width: 10vw; }

.post-inner {
  opacity: 0;
  display: none; }

.the--post a:hover {
  text-decoration: none !important; }

.the--post a:hover h2 {
  text-decoration: underline; }

.submitted--info {
  color: #4f4f4f;
  border-bottom: 1px solid #4f4f4f;
  opacity: 0.25;
  margin-left: -30px;
  width: calc(100% + 45px);
  margin-top: -15px;
  padding-bottom: 15px;
  margin-bottom: 30px; }

.the--post[data-emergence="visible"] .post-inner {
  display: block; }

.animated-in, .the--post[data-emergence="visible"] .post-inner {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: forwards;
  animation-name: in;
  animation-timing-function: linear; }

.animated-out, .the--post[data-emergence="visible"] .wrapper-cell {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: forwards;
  animation-name: out;
  animation-timing-function: linear; }

.search--form {
  background: #403f92;
  width: 100vw;
  height: 60px;
  top: 80px;
  position: fixed;
  z-index: 10;
  box-shadow: 0 0 25px rgba(69, 93, 199, 0.18);
  display: none; }
  .search--form .inner {
    height: 100%;
    display: flex;
    align-items: center; }
  .search--form form {
    display: flex;
    align-items: center; }
    .search--form form input {
      background: none;
      border: none;
      border-radius: 2px;
      height: 60px;
      color: #ffffff;
      font-size: 20px;
      flex-grow: 1;
      font-family: "Nunito", sans-serif;
      font-weight: 700; }
      .search--form form input::placeholder {
        color: #ffffff;
        font-size: 20px;
        font-family: "Nunito", sans-serif;
        font-weight: 700; }
    .search--form form input[type="submit"] {
      margin-left: auto;
      display: flex;
      flex-grow: 0;
      background: #33ab38;
      font-family: "Nunito", sans-serif;
      height: auto;
      padding: 10px 20px;
      border-radius: 6px;
      font-size: 16px;
      font-weight: 700; }
      .search--form form input[type="submit"]:hover {
        background: #2d9732;
        cursor: pointer; }
  .search--form #search {
    border-bottom: 2px solid white !important;
    border-radius: 0px !important;
    width: 80% !important;
    height: 45px !important;
    max-width: 50%; }

input#mce-EMAIL {
  border-bottom: 2px solid white !important;
  border-radius: 0px !important;
  width: 80% !important;
  height: 45px !important;
  max-width: 50%; }

.search--post {
  margin-top: 60px; }
  .search--post h2 {
    font-family: "Nunito", sans-serif;
    color: #403f92;
    font-weight: bold; }

.no--post {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #545a63; }

.search--formpage {
  display: flex; }
  .search--formpage input {
    height: 46px;
    background: #fff;
    border: 1px solid #f5f4f7;
    box-sizing: border-box;
    box-shadow: 0 0 25px rgba(69, 93, 199, 0.05);
    border-radius: 10px;
    width: 100%;
    padding: 0 20px;
    flex-grow: 1;
    margin-right: -20px; }
  .search--formpage input[type="submit"] {
    background: #33ab38;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    padding: 0 48px;
    border: none;
    flex-grow: 0;
    display: flex;
    width: auto;
    margin-right: initial; }

#static {
  padding: 140px 0px; }
  #static .intro p {
    font-family: "Muli", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #545a63; }
  #static h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: #333333; }
  #static h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #333333; }
  #static p {
    font-family: "Muli", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #545a63; }

#static .post--image {
  width: 100%;
  height: 379px;
  margin: 60px 0;
  max-width: 80vw;
  background-color: white;
  border-radius: 0 20px 20px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.pr-img img {
  max-width: 90%; }

.carrousel-item,
.carousel-img {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center center;
  margin: 0px 20px;
  border-radius: 20px; }

.dots ul {
  display: flex;
  list-style: none;
  width: 100%;
  margin: 40px 0px; }
  .dots ul li {
    width: 100%;
    margin: 0px 5px; }
    .dots ul li button {
      text-indent: -99999px;
      min-width: 100%;
      min-height: 2px;
      max-width: 6px !important;
      max-height: 2px;
      border: none;
      background: #a9acbe;
      border-radius: 999px;
      margin: 0px;
      padding: 0px;
      margin: 0px 5px;
      cursor: pointer; }
  .dots ul li.slick-active button {
    background: #403f92; }

.sub {
  font-size: 20px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  color: #403f92; }

.wb {
  background-color: #ffffff;
  padding: 60px 0px; }

blockquote p {
  font-weight: 600 !important; }
blockquote :before {
  content: "“";
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 109px;
  color: #403f92;
  position: absolute;
  left: -35px;
  margin-top: -13px; }

.newsletter--bar {
  background: #33ab38;
  width: 100vw;
  height: 60px;
  top: 80px;
  position: fixed;
  z-index: 10;
  display: none;
  box-shadow: 0 0 25px rgba(69, 93, 199, 0.18); }
  .newsletter--bar .inner {
    height: 100%;
    display: flex;
    align-items: center; }
  .newsletter--bar form {
    width: 100%;
    display: flex;
    align-items: center; }
    .newsletter--bar form #mc_embed_signup_scroll {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center; }
    .newsletter--bar form .mc-field-group {
      flex-grow: 1; }
    .newsletter--bar form input {
      width: 100%;
      background: none;
      border: none;
      border-radius: 2px;
      height: 60px;
      color: #ffffff;
      font-size: 20px;
      flex-grow: 1;
      font-family: "Nunito", sans-serif;
      font-weight: 700; }
      .newsletter--bar form input::placeholder {
        color: #ffffff;
        font-size: 20px;
        font-family: "Nunito", sans-serif;
        font-weight: 700; }
    .newsletter--bar form input[type="submit"] {
      margin-left: auto;
      display: flex;
      flex-grow: 0;
      background: #403f92;
      font-family: "Nunito", sans-serif;
      height: auto;
      padding: 10px 20px;
      border-radius: 6px;
      font-size: 16px;
      font-weight: 700; }
      .newsletter--bar form input[type="submit"]:hover {
        background: #2d9732;
        cursor: pointer; }

.cookie-notice {
  max-width: 500px; }
  .cookie-notice h2 {
    font-weight: bold; }
  .cookie-notice p {
    font-family: "Muli", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #828282; }
  .cookie-notice a {
    padding: 0 5px;
    margin: 0 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    font-family: "Nunito", sans-serif;
    color: #333333;
    position: relative; }
  .cookie-notice #accept-cookie {
    background: #33ab38;
    box-shadow: 0 0 20px rgba(85, 217, 187, 0.25);
    border-radius: 10px;
    -webkit-appearance: none;
    border: 0;
    font-family: "Nunito", sans-serif;
    padding: 15px 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff; }

@keyframes in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
#opleiding {
  background: #333333;
  padding-top: 140px;
  margin-bottom: -150px;
  padding-bottom: calc(80px + 150px); }
  #opleiding .opl-col {
    margin-bottom: 30px; }
  #opleiding .int {
    margin-bottom: 30px; }
    #opleiding .int h1 {
      font-size: 2rem;
      color: #ffffff;
      font-family: "Muli", sans-serif;
      font-weight: bold; }
  #opleiding .opl-item {
    padding: 20px;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(69, 93, 199, 0.05);
    border-radius: 10px;
    overflow: hidden; }
    #opleiding .opl-item .inf {
      margin-top: 10px;
      max-width: 90%; }
      #opleiding .opl-item .inf p {
        color: #6c757d; }
    #opleiding .opl-item .opl--btn {
      position: absolute;
      right: 15px;
      bottom: 0;
      width: 35px;
      height: 35px;
      background: #33ab38;
      border-radius: 99px 0 30px 0; }
      #opleiding .opl-item .opl--btn svg {
        stroke: #fff;
        position: absolute;
        top: 15px;
        left: 12px;
        height: 12px; }
    #opleiding .opl-item:hover .vac--btn svg {
      left: 14px; }
    #opleiding .opl-item:hover a {
      text-decoration: none; }
    #opleiding .opl-item:hover a h4 {
      text-decoration: underline; }
    #opleiding .opl-item .opl--heading {
      display: flex;
      align-items: center; }
      #opleiding .opl-item .opl--heading h4 {
        color: #403f92;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        margin: 0;
        float: left; }
        #opleiding .opl-item .opl--heading h4 a {
          color: #333333; }
      #opleiding .opl-item .opl--heading .location {
        float: right;
        font-size: 12px;
        color: #a2a2a2; }
    #opleiding .opl-item .branche {
      padding-bottom: 10px;
      display: block;
      color: #000000b0;
      font-size: 14px; }
      #opleiding .opl-item .branche svg {
        fill: #000000b0;
        margin-right: 5px;
        position: relative;
        top: -2px; }

#initiatiefnemers {
  background: #333333;
  padding-top: 140px;
  margin-bottom: -150px;
  padding-bottom: calc(80px + 150px); }
  #initiatiefnemers .pr-col {
    margin-bottom: 30px; }
  #initiatiefnemers .int {
    margin-bottom: 30px; }
    #initiatiefnemers .int h1 {
      font-size: 2rem;
      color: #ffffff;
      font-family: "Muli", sans-serif;
      font-weight: bold; }
  #initiatiefnemers .pr-item {
    padding: 20px;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(69, 93, 199, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: flex; }
    #initiatiefnemers .pr-item .inf {
      margin-top: 10px;
      max-width: 90%; }
      #initiatiefnemers .pr-item .inf p {
        color: #6c757d; }
    #initiatiefnemers .pr-item .pr--btn {
      position: absolute;
      right: 15px;
      bottom: 0;
      width: 35px;
      height: 35px;
      background: #33ab38;
      border-radius: 99px 0 30px 0; }
      #initiatiefnemers .pr-item .pr--btn svg {
        stroke: #fff;
        position: absolute;
        top: 15px;
        left: 12px;
        height: 12px; }
    #initiatiefnemers .pr-item:hover .vac--btn svg {
      left: 14px; }
    #initiatiefnemers .pr-item:hover a {
      text-decoration: none; }
    #initiatiefnemers .pr-item:hover a h4 {
      text-decoration: underline; }
    #initiatiefnemers .pr-item .pr--heading {
      display: flex;
      align-items: center;
      max-width: 80%; }
      #initiatiefnemers .pr-item .pr--heading h4 {
        color: #403f92;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        margin: 0;
        float: left; }
        #initiatiefnemers .pr-item .pr--heading h4 a {
          color: #333333; }
      #initiatiefnemers .pr-item .pr--heading .location {
        float: right;
        font-size: 12px;
        color: #a2a2a2; }

.np-col {
  color: #ffffff; }

#vacancy-overview {
  background: #333333;
  padding-top: 140px;
  margin-bottom: -150px;
  padding-bottom: calc(80px + 150px); }
  #vacancy-overview .vac-col {
    margin-bottom: 30px; }
  #vacancy-overview .vacancy-intro {
    margin-bottom: 30px; }
    #vacancy-overview .vacancy-intro h2,
    #vacancy-overview .vacancy-intro p {
      color: #ffffff; }
    #vacancy-overview .vacancy-intro h2 {
      font-size: 2rem;
      color: #ffffff;
      font-family: "Muli", sans-serif;
      font-weight: bold; }
    #vacancy-overview .vacancy-intro p {
      opacity: 0.8; }
  #vacancy-overview .vacansie-item {
    padding: 20px;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(69, 93, 199, 0.05);
    border-radius: 10px;
    overflow: hidden; }
    #vacancy-overview .vacansie-item .vac--btn {
      position: absolute;
      right: 15px;
      bottom: 0;
      width: 35px;
      height: 35px;
      background: #33ab38;
      border-radius: 99px 0 30px 0; }
      #vacancy-overview .vacansie-item .vac--btn svg {
        stroke: #fff;
        position: absolute;
        top: 15px;
        left: 12px;
        height: 12px; }
    #vacancy-overview .vacansie-item:hover .vac--btn svg {
      left: 14px; }
    #vacancy-overview .vacansie-item:hover a {
      text-decoration: none; }
    #vacancy-overview .vacansie-item:hover a h4 {
      text-decoration: underline; }
    #vacancy-overview .vacansie-item .vac--heading {
      display: flex;
      align-items: center; }
      #vacancy-overview .vacansie-item .vac--heading h4 {
        color: #403f92;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        margin: 0;
        float: left; }
        #vacancy-overview .vacansie-item .vac--heading h4 a {
          color: #333333; }
      #vacancy-overview .vacansie-item .vac--heading .location {
        float: right;
        font-size: 12px;
        color: #a2a2a2; }
    #vacancy-overview .vacansie-item .branche {
      padding-bottom: 10px;
      display: block;
      color: #000000b0;
      font-size: 14px; }
      #vacancy-overview .vacansie-item .branche svg {
        fill: #000000b0;
        margin-right: 5px;
        position: relative;
        top: -2px; }

#vacancy-detail {
  padding-top: 140px;
  margin-bottom: -150px;
  padding-bottom: calc(80px + 150px); }
  #vacancy-detail h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: #333333; }
  #vacancy-detail .description-vacansie p {
    font-family: "Muli", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #545a63; }
  #vacancy-detail #profile {
    padding: 80px 0px; }
  #vacancy-detail .description-vacansie {
    padding-bottom: 60px; }
  #vacancy-detail .btn {
    background: #33ab38;
    box-shadow: 0px 0px 20px rgba(85, 217, 187, 0.25);
    border-radius: 10px;
    -webkit-appearance: none;
    border: 0px;
    font-family: "Nunito", sans-serif;
    padding: 15px 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    margin-top: 15px; }
    #vacancy-detail .btn:hover {
      background: #2d9732;
      cursor: pointer; }
  #vacancy-detail .vacancy-profile .inner {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 25px rgba(69, 93, 199, 0.05); }
  #vacancy-detail .vacancy-contact .inner {
    background: #4d23c0;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 25px rgba(69, 93, 199, 0.05); }
    #vacancy-detail .vacancy-contact .inner p,
    #vacancy-detail .vacancy-contact .inner a,
    #vacancy-detail .vacancy-contact .inner h2,
    #vacancy-detail .vacancy-contact .inner span {
      color: #ffffff; }
    #vacancy-detail .vacancy-contact .inner p,
    #vacancy-detail .vacancy-contact .inner span,
    #vacancy-detail .vacancy-contact .inner h2 {
      display: block; }

p.description + [data-readmore-toggle],
p.description[data-readmore] {
  color: #33ab38; }

.vacansie_form label {
  padding-left: 0px;
  width: 100%;
  display: block;
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #545a63; }
.vacansie_form input,
.vacansie_form textarea {
  overflow: visible;
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 12px; }
  .vacansie_form input :focus,
  .vacansie_form textarea :focus {
    box-shadow: 0 0 25px rgba(69, 93, 199, 0.05);
    outline: 0 !important; }

#place-post {
  padding-bottom: 80px;
  padding-top: 140px; }
  #place-post p {
    font-family: "Muli", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #545a63; }
  #place-post h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: #333333; }
  #place-post form {
    padding: 0px; }
    #place-post form label {
      padding-left: 0px;
      width: 100%;
      display: block;
      font-family: "Muli", sans-serif !important;
      font-style: normal;
      font-weight: 600;
      font-size: 18px !important;
      line-height: 32px;
      color: #545a63; }
    #place-post form input,
    #place-post form textarea {
      overflow: visible;
      width: 100% !important;
      border: 1px solid #eaeaea;
      border-radius: 10px;
      padding: 12px; }
      #place-post form input :focus,
      #place-post form textarea :focus {
        box-shadow: 0 0 25px rgba(69, 93, 199, 0.05);
        outline: 0 !important; }
    #place-post form .usp-submit {
      background: #33ab38;
      box-shadow: 0px 0px 20px rgba(85, 217, 187, 0.25);
      border-radius: 10px;
      -webkit-appearance: none;
      border: 0px;
      font-family: "Nunito", sans-serif;
      padding: 15px 20px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
      margin-top: 15px;
      width: inherit !important; }
      #place-post form .usp-submit:hover {
        background: #2d9732;
        cursor: pointer; }

#user-submitted-checkbox {
  max-width: 20px; }

.usp-checkbox label {
  width: auto !important;
  display: inline !important; }

.btp {
  width: 52px;
  height: 130px;
  background-color: #403f92;
  border-radius: 99px 99px 0px 0px;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  right: 4vw;
  bottom: -130px;
  z-index: 10;
  transform-origin: top;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .btp:before {
    content: "";
    position: absolute;
    background: #403f92;
    width: 100%;
    height: 100%;
    z-index: -2;
    left: 0;
    top: 0; }
  .btp:after {
    content: "";
    position: absolute;
    width: 50px;
    min-height: 50px;
    z-index: -2;
    left: -50px;
    bottom: -50px;
    border-radius: 100%;
    background: #383780;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .btp:hover {
    color: #fff; }
  .btp:hover:after {
    transform: scale(18); }
  .btp svg {
    position: absolute;
    top: 20px;
    left: 20px; }

.is--visible {
  border-radius: 10px;
  bottom: 30px;
  height: 52px; }

.xl {
  display: none; }

.mobile-nav {
  display: none; }

.recommend {
  margin-top: 60px; }

@media screen and (max-width: 1024px) {
  #posts article .post--date {
    font-size: 16px; }

  #hp {
    padding: 40px 0;
    padding-top: 80px; } }
@media screen and (max-width: 768px) {
  #menu-socket {
    display: block; }

  #menu-socket li {
    border-right: none;
    text-align: center;
    float: none;
    padding: 5px 0px; }

  #posts article .post--date {
    float: left;
    margin-right: 10px; }

  #posts article .post--info p {
    height: 84px;
    overflow: hidden;
    position: relative; }
    #posts article .post--info p:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 70px;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 95%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 95%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 95%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); }

  .submitted--info {
    margin-left: -15px;
    width: calc(100% + 30px); }

  .hmd {
    display: none !important; }

  #counter {
    display: none; }

  #posts article .post--date {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #a9acbe;
    opacity: 0.5;
    margin-bottom: 10px;
    display: inline-block;
    text-transform: capitalize; }

  #posts article .post--image .the-post--image {
    width: 120px;
    height: 130px;
    border-radius: 4px;
    background-size: cover;
    background-position: center center; }

  #newsletter .container {
    max-width: 100vw; }
    #newsletter .container .col-md-12 {
      padding: 0px; }
      #newsletter .container .col-md-12 .news-block {
        border-radius: 0px; }

  #posts article .the--post {
    border-radius: 0;
    padding: 30px 15px; }

  article .container {
    max-width: 100vw; }
    article .container .col-md-12 {
      padding: 0px; }
      article .container .col-md-12 .news-block {
        border-radius: 0px; }

  nav .container {
    max-width: 100vw;
    padding: 0px 5px 0px 15px; }

  .vac .the--vac,
  .edu .the--edu,
  .adv .the--adv {
    border-radius: 0px; }

  .mx {
    display: none; }

  .xl {
    display: block; }

  .p-2 {
    padding: 0px; }

  .ma {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 70px;
    justify-content: center;
    border-left: 1px solid rgba(0, 0, 0, 0.1); }

  .hamburger {
    width: 24px;
    height: 18px;
    margin-top: -10px;
    cursor: pointer; }
    .hamburger div {
      background: #333333;
      width: 100%;
      height: 4px;
      margin: 4px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }

  .tabs-nav {
    display: none; }

  .mobile-nav {
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background: white;
    z-index: 8;
    padding: 100px 0px; }
    .mobile-nav .container {
      max-width: 100vw;
      padding: 15px; }
    .mobile-nav ul {
      margin: 0;
      padding: 0; }
      .mobile-nav ul li {
        list-style: none; }
        .mobile-nav ul li a {
          padding: 30px 0px;
          border-bottom: 1px solid #ebebeb;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
          color: #333333;
          display: block;
          width: 100%;
          text-transform: capitalize; }

  .branding {
    padding: 0px !important; }

  .first {
    transform: rotate(45deg);
    transform-origin: left; }

  .middle {
    width: 0px !important;
    transform: rotate(-45deg);
    margin-left: 50px; }

  .last {
    transform: rotate(-45deg);
    transform-origin: left;
    margin-top: 1px; }

  #posts article .post--info h2 {
    font-size: 18px; }

  .vac-col {
    margin-bottom: 30px; }

  #newsletter .news-block {
    padding: 30px 30px; }

  .vacancy-profile {
    margin-bottom: 30px; }

  .the--adv .d-flex {
    display: block !important; }

  .adv .the--adv .the-post--image {
    min-height: 268px;
    width: calc(100% + 40px);
    left: -20px;
    margin: 0px;
    position: relative;
    background-size: cover; }

  .adv .the--adv .the-post--image svg {
    transform: rotate(90deg) translate(50%, -34%);
    height: 100%;
    left: 50%;
    bottom: -12px;
    position: absolute;
    transform-origin: left;
    top: initial !important;
    transform: scale(3) rotate(90deg); }

  .adv .the--adv .the-post--ad {
    width: 100%;
    padding: 30px 0px; }

  .adv .the--adv .adv--info {
    display: flex !important; }

  .image {
    min-width: 119px;
    height: 130px; } }

/*# sourceMappingURL=style.css.map */
